* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: rgb(4, 8, 47);
  padding: 4vmin 0;
  color: white;
  font-size: 5vmin;
}
.choices_cs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vmin;
  margin-top: 10vmin;
}
.choice_cs {
  height: 20vmin;
  width: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

img {
  display: flex;
  height: 18vmin;
  width: 18vmin;
  border-radius: 50%;
  object-fit: cover;
}
.choice_cs:hover {
  background-color: rgb(4, 8, 47);
  cursor: pointer;
}
.score_board_cs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
  margin: 8vmin 0 4vmin 0;
  text-align: center;
  font-weight: 520;
  font-size: 5vmin;
}

.msg_container_cs {
  text-align: center;
}
.msg_cs {
  display: inline-block;
  font-size: 5vmin;
  background-color: rgb(4, 8, 47);
  color: white;
  padding: 2vmin;
  border-radius: 1vh;
}
